<header>

    {% if site.avatar %}
    <a class="image avatar"><img src="{{ site.avatar }}" alt="avatar" /></a>
    {% endif %}

    <h1>{{ site.title }}</h1>

    {% if site.position %}
    <position style="font-size:1.10rem;">{{ site.position }}</position>
    <br>
    {% endif %}
    {% if site.affiliation %}
    <a href="{{ site.affiliation_link }}" rel="noopener" target="_blank">
        <autocolor>{{ site.affiliation }}</autocolor>
    </a>
    <br>
    {% endif %}
    {% if site.email %}
    <email>{{ site.email }}</email>
    {% endif %}

    <br>
    <br>
    <div class="social-icons">
        {% if site.google_scholar %}
        <a style="margin: 0 5px 0 0" href="{{ site.google_scholar }}" target="_blank">
            <i class="ai ai-google-scholar" style="font-size:1.2rem"></i>
        </a>
        {% endif %}

        {% if site.cv_link %}
        <a style="margin: 0 5px 0 0" href="{{ site.cv_link }}" target="_blank">
            <i class="ai ai-cv" style="font-size:1.3rem;"></i>
        </a>
        {% endif %}

        {% if site.github_link %}
        <a style="margin: 0 5px 0 0" href="{{ site.github_link }}" target="_blank">
            <i class="fab fa-github"></i>
        </a>
        {% endif %}

        {% if site.linkedin %}
        <a style="margin: 0 5px 0 0" href="{{ site.linkedin }}" target="_blank">
            <i class="fab fa-linkedin"></i>
        </a>
        {% endif %}

        {% if site.twitter %}
        <a style="margin: 0 0 0 0" href="{{ site.twitter }}" target="_blank">
            <i class="fab fa-twitter"></i>
        </a>
        {% endif %}

        {% if site.facebook %}
        <a style="margin: 0 0 0 0" href="{{ site.facebook }}" target="_blank">
            <i class="fab fa-facebook"></i>
        </a>
        {% endif %}

        {% if site.vk %}
        <a style="margin: 0 0 0 0" href="{{ site.vk }}" target="_blank">
            <i class="fab fa-vk"></i>
        </a>
        {% endif %}
    </div>
    <br>

</header>