/* Style the Image Used to Trigger the Modal */
#myImg {
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {
    opacity: 0.9;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 99%;
    height: 90%;
    overflow: auto;
    padding-top: 4em;
    transform: translate(-50%, -50%);
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1;
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    /* max-width: 95%; */
    /* max-height: 90%; */
    /* width: 90%; */
    height: 90%;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    /* height: 150px; */
}

/* Add Animation - Zoom in the Modal */
.modal-content,
#caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}