<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

{% include head.html %}

<body>
    {% include navigation.html %}
    <div class="wrapper">
        {% include header.html %}
        <section>
            {{ content }}
            {% for yyyy in (1900..2100) reversed %}
                {% include bookshelf_macro.html year=yyyy %}
            {% endfor %}
        </section>
        <footer>
        </footer>
    </div>
    <script type="module" src="/assets/js/bookshelf.js"></script>

    <!-- The Modal Window -->
    <div id="books_modal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="placeholder">
        <div id="caption"></div>
    </div>

    <script>
        var modal = document.getElementById('books_modal');
        var images = document.getElementsByClassName("cover");
        var spines = document.getElementsByClassName("spine");
        var modalImg = document.getElementById("placeholder");
        var captionText = document.getElementById("caption");

        for (var i = 0; i < images.length; i++)
        {
            images[i].onclick = showBook;
            spines[i].onclick = showBook;
        }

        function showBook(eventObj)
        {
            modal.style.display = "block";
            // slice(5, -2) removes url(" from the start and ") from the end
            // of the returned backgroundImage string
            var backimagestring = eventObj.target.style.backgroundImage.slice(5, -2);
            modalImg.src = backimagestring;
            captionText.innerHTML = eventObj.target.innerHTML;
        }

        var span = document.getElementsByClassName("close")[0];
        span.onclick = function ()
        {
            modal.style.display = "none";
        }

        modalImg.onclick = function ()
        {
            modal.style.display = "none";
        }
    </script>

    <script src="/assets/js/scale.fix.js"></script>
    {% include analytics.html %}
</body>

</html>