<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

{% include head.html %}

<body>
    {% include navigation.html %}
    <div class="wrapper" style="padding-top: 4em; margin: auto;">
        <section>
            {{ content }}
        </section>
        <footer>
        </footer>
    </div>
    <script src="/assets/js/scale.fix.js"></script>
    {% include analytics.html %}
    <script type="text/javascript" src="/assets/js/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</body>

</html>